.terms_and_conditionss_part{
	padding-top: 2%;
	padding-bottom:3%;
}
.accordion_N{
	background-color: #f5f5f5;
    color: #000;
    cursor: pointer;
	padding-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 30px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    transition: 0.4s;
	text-transform: uppercase;
}
.accordion_N.active, .accordion_N:hover {
    background-color:#1853a0;
	color:#ffffff;
}
.accordion_N:after {
    content: '\002B';
    color: #000;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.accordion_N:hover:after{
    color: #fff;
}
.terms_and_conditionss_part h1{
	text-align: center;
    text-transform: uppercase;
    font-size: 38px;
    padding-bottom: 1%;
}
.accordion_N.active:after {
    content: "\2212";
	color:#fff;
}
.acc_panels h5
{
	text-align: justify;
    letter-spacing: 1px;
    line-height: 1.7;
    padding-top: 10px;
	font-size: 17px;
}
.acc_panels ul
{
	list-style: square!important;
	padding-left: 2%;
}
.acc_panels ul li
{
	text-align: justify;
    letter-spacing: 1px;
    line-height: 1.8;
}
.acc_panels p
{
	text-align: justify;
    letter-spacing: 1px;
    color: #000000;
    line-height: 1.8;
	margin-top: .1rem;
}
.acc_panels {
    padding: 0 18px;
    background-color: white;
	padding-top: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.acc_panels hr
{
	margin-bottom: 8px!important;
    margin-top: 8px!important;
}
@media only screen and (max-width:767px) {
	.terms_and_conditionss_part h1 {
		font-size: 32px;
	}
}
@media only screen and (max-width:475px) {
	.terms_and_conditionss_part h1 {
		font-size: 24px;
	}
	.acc_panels p{
		font-size: 15px;
	}
	.acc_panels h5 {
		font-size: 16px;
	}
	.acc_panels ul li {
		font-size: 15px;
	}
}