body {
	margin: 0;
	font-family: 'Lato', Helvetica, sans-serif!important;
}
.search_head{
	padding: 0!important;
	background-image: url(../images/contact-us.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
    filter: brightness(95%);
    object-fit: fill;
}
.search_head h1{
	position: absolute;
    top: 50%;
    font-size: 58px;
    text-transform: uppercase;
    left: 20px;
    padding: 0px 48px;
	text-shadow: 2px 0px 3px #000;
    font-size: 58px;
    color: #fff;
    font-weight: 600;
    letter-spacing: .5px;
}
.contkt_main{
	padding-top: 40px;
    padding-bottom: 20px;
}
.contakt_form .form-group{
    margin-bottom: 20px;
}
.contakt_form .form-control{
	border: none;
    outline: none;
	font-size: 14px;
	border: 1px solid #75757570;
	min-height: 40px;
}
.contakt_form input:hover{
    border-color: currentcolor currentcolor #1853a0;
    border-style: none none solid;
    border-width: 0 0 1px;
    box-shadow: none;
    outline: 0 none;
}
.contakt_form textarea:hover{
    border-color: currentcolor currentcolor #1853a0;
    border-style: none none solid;
    border-width: 0 0 1px;
    box-shadow: none;
    outline: 0 none;
}
.contakt_form textarea.form-control {
    height: 215px;
}
.contakt_form .btn-primary{
	background-color: #1853a0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .4px;
    border: none;
    outline: none;
    padding: 8px 20px;
	margin-bottom: 20px;
	line-height: 1.6;
}
.contakt_form .btn-primary:hover{
	transition: all .5s ease-in-out;
    color: #fff;
    background-color: #0c2d69;
}
*.btn:active, .btn:focus, .btn:active:focus, .btn.active:focus {
		outline: none !important;
		box-shadow: none !important;
}
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.contakt_right > div{
	text-align: center;
	background-color: #f8f8f8;
	padding: 16px 0 10px 0;
	border-bottom: 1px solid #f1f1f1;
}
.contakt_right img{
	width: 42px;
}
.contakt_right h5{
	font-size: 18px;
	padding: 12px 0 4px 0;
	margin-bottom: 0;
	text-transform: uppercase;
}
.contakt_right a:hover{
	text-decoration: none;
}
.contakt_right a{
	letter-spacing: 0.4px;
	font-size: 15px;
}
.contakt_right_three p{
	font-size: 14px;
    letter-spacing: .4px;
	margin-bottom: 0px;
}