.inner_page_top_image img{
    width: 100%;
    height: 100%;
	filter: brightness(80%);
    object-fit: fill;
}
.marquee_parts {
	padding: 0px;
	position:relative;
}
.marquee_parts marquee{
/*	position: absolute;
    top: 89%;
    left: 10%;
	width: 50%;*/
    color: #ff0909;
    line-height: 1;
    float: left;
    text-shadow: 1px 1px 0px rgba(247, 248, 246);
    font-size: 28px;
    font-weight: 800;
}
.tabcontent_left a{
box-shadow: 0 10px 20px 0 rgba(0,0,0,.3);
}
.inner2_right22{
margin-top: 4%;
}

.inner_page_top_header h1{
    text-align: left;
/*    position: absolute;
    top: 75%;
    left: 10%;*/
    color: #fff;
    text-shadow: 0 0 3px #000000;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Open Sans',sans-serif;
	width: 100%;
}
.marquee_parts p{
	margin-bottom: 0;
	letter-spacing: .8px;
    font-family: cursive;
}
.inner_page_top_header {
	position: absolute;
    bottom: 5%;
    left: 0;
    padding:0 111px 0 111px;
	float: left;
    width: 100%;
}
.inner_page_right_header  {
	position: absolute;
    bottom: 0%;
	padding:0px 15px;
    right:96px;
    text-align: center;
    clear: both;
    color: #fff;
    width: 370px;	
}
.inner_page_discount_top {
	background-color: rgba(44, 72, 122, 0.9);
    padding: 10px;
	font-size: 16px;
    text-align: center;
    font-weight: 600;
	display: none;
}
.inner_page_discount_bottom {
	background-color: #4675e7d9;
    text-align: center;
	padding: 10px 20px 20px 20px;
    line-height: 2;
	display: none;
}
.inner_page_discount_two {
	margin: auto 10px;
	font-size: 17px;
    letter-spacing: .8px;
    font-weight: 500;
    text-decoration: line-through;
}
.inner_page_discount_three {
	font-size: 32px;
    font-weight: 800;
}
.inner_page_discount_img img{
	width:auto;
	height:auto;
	margin-right:10px;
	vertical-align: sub;
}
#menu_inclusion li{
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.8;
}
#menu_inclusion ol li{
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.8;
}
#menu_exclusion li{
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.8;
}
.inner2_left1 {
	float: left;
    display: inline-grid;
	margin-right: 10%;
}
.inner2_left2 {
	float: right;
    display: inline-grid;
}
.inner2_left span{
	font-size: 15px;
    font-weight: 700;
    text-align: left;
    width: max-content;
	margin-bottom: 14px;
}
.inner2_left span img{
	width: 20px;
    margin-right: 15px;
}
.inner2_left{
    padding: 35px;
    padding-left: initial;
	margin-top: 2%;
	float: left;
    width: 100%;
    display: flex;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Style the tab */
.inner2_right .tab {
	overflow: hidden;
	border:none;
	background-color: #f5f5f5;
    width: max-content;
}

/* Style the buttons inside the tab */
.inner2_right .tab button {
	background-color: #f5f5f5;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding:14px 23.3px;
	transition: 0.3s;
	font-size: 16px;
    font-weight: 500;
	letter-spacing: .6px;
}
.inner2_right .tab button strong{
	font-weight: bolder;
    color: red;
}

/* Change background color of buttons on hover */
.inner2_right .tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.inner2_right .tab button.active {
  background-color: #ffffff;
}

/* Style the tab content */
.inner2_right .tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}
.inner2_right {
	background-color: #ffffff;
	position: absolute;
    right: 15px;
    z-index: 99;
    top: 1px;
	padding-left: 0;
    padding-right: 0;
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.2);
    width: 339px;
}
.section_inner2{
	position: relative;
	background-color: whitesmoke;
    margin-top: -24px;
}
.tabcontent_left a{
    padding: 2px;
    line-height: 2;
    padding-left: 20px;
    font-size: 18px;
    padding-right: 20px;
    background-color: #1853a0;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    float: right;
    margin-bottom: 20px;
}
#Booking_form a:hover{
    transition: all .5s ease-in-out;
    color: #fff;
    background-color: #0c2d69;
}
.tabcontent_left {
	margin: 20px 20px;
}
#enq_form{
	    padding: 20px;
}
#enq_form h4{
    margin-top: -8px;
    font-size: 1.5rem;
    text-align: center;
    color: #1853a0;
    margin-bottom: 10px;
}
#enq_form .col-75{
	float: left;
    width: 100%;
    padding: 4px;
}
#enq_form .col-75 input, select{
    width: 100%;
    padding: 8px 8px 1px 5px;
    border: none;
    border-bottom: 1px solid #757575;
    border-radius: 0;
    resize: vertical;
    outline: 0;
    background: 0 0;
    color: #757575;
	font-size: 15px;
	letter-spacing: 1.4px;
	background: #fff none repeat scroll 0 0;
    border-color: currentcolor currentcolor #eee;
    border-style: none none solid;
    border-width: 0 0 1px;
    box-shadow: none;
	/*border: 1px solid rgba(0,0,0,.15);*/
    border-radius: .25rem;
}
#enq_form .col-75 select:hover{
	border-color:currentcolor currentcolor #1853a0;
    border-style: none none solid;
    border-width: 0 0 1px;
    box-shadow: none;
    outline: 0 none;
}
#enq_form .col-75 input:hover{
	border-color:currentcolor currentcolor #1853a0;
    border-style: none none solid;
    border-width: 0 0 1px;
    box-shadow: none;
    outline: 0 none;
}
#enq_form .col-75 select{
	cursor: pointer;
}

#enq_form .col-75 input[type=submit]{
    background-color: #1853a0;
    color: #fff;
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    width: 100%;
    border-radius: 0;
    cursor: pointer;
    text-align: center;
    outline: 0;
    font-weight: 600;
}
#enq_form .col-75 input[type=submit]:hover{
    transition: all .5s ease-in-out;
    color: #fff;
    background-color: #0c2d69;
}
.itinery_left{
	float: left;
    width: 100%;
}
.tour_highlight_main {
	float: right;
    width: 30%;
	padding: 0;
	background-color: #f5f5f5;
    margin-top: 15px;
}
.tour_highlight_main .container {
	padding: 0!important;
}
/*.section_inner3{
	padding-top: 3%;
}*/
.itinery_portion {
	background-color: #ebebeb;
    height: 68px;
    padding: 14px 0px;
}
.same_line {
	/*display: inline-flex;*/
	display:none;

}
.same_line img{
	height: 26px;
    width: 26px;
	margin-top: 0px;
    margin-right: 10px;
}
.tour_highlight span{
	display: inline-flex;
}
.tour_highlight span img{
	width: 24px;
    height: 24px;
	margin-right: 10px;
}
.tour_highlight span p{
	font-size: 15px;
}
.tour_highlight{
	padding:22px 26px 0px;
	line-height: 1.8;
}
.tour_highlight h4{
	font-size: 20px;
    margin-bottom: 16px;
}	
.itinery_left .nav-tabs {
    border-bottom: 1px solid #1853a0!important;
}	
.itinery_left .nav-tabs .nav-link.active {
	border-color: #1853a0 #1853a0 #fff!important;
}
.itinery_left .nav-tabs .nav-link:hover {
	border-color: #1853a0#1853a0#1853a0;
}
.itinery_left .nav-item a{
	color:#1853a0;
}
.itinery_left .nav-tabs .nav-item{
	margin-right: 2px;
}
.itinery_left .tab-pane h4{
	font-size: 22px;
	margin-bottom: 20px;
	color: #1853a0;
	display:none;
}
.itinery_left .tab-pane p{
	text-align: justify;
    letter-spacing: 1px;
    line-height: 1.8;
    margin-bottom: 6px;
}
.itinery_left .tour-result-details {
	text-align: justify;
    letter-spacing: 1px;
    line-height: 1.8;
}
#menu_ininerary .accordion {
	background-color: #f5f5f5;
    color: #1853a0;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    border-bottom: 1px solid #1853a0;
    font-weight: 600;
    letter-spacing: 1px;
	padding-left: 18px;
}
#menu_ininerary .accordion:after{
	    content: '\002B';
    color: #1853a0;
    font-weight: bold;
    float: right;
    margin-left: 0px;
    background: #f5f5f5;
    padding-left: 5px;
    padding-right: 3px;
}
#menu_ininerary .active:after {
    content: "\2212";
}
#menu_ininerary .active, .accordion:hover{
    background-color: #1853a0;
    color: #fff;
	border-bottom: 1px solid #fff;
	border-top:1px solid #fff;
}
#menu_ininerary .panel {
    padding: 0 18px;
    background-color: #4675e7d9;
    color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.itinery_left .tab-content>.active{
    padding-bottom: 10px;
    margin-top: -15px;
}	
#menu_ininerary .panel p{
    padding:5px 5px 5px 5px;
}	
.itinery_left #menu_ininerary{
    padding-bottom: 35px;
}	
.itinery_left .tab-content	{
	margin-top: 3%;
}
.related_tours_heading h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 38px;
	padding-bottom: 2%;
}
.section_inner4 {
    background-color: whitesmoke;
    padding-top: 2%;
    padding-bottom:30px;
}	
.related_tours .related_tour_part img{
	width: 100%;
    height: 100%;
	position: relative;
}	
.related_tours{
    display: inline-flex;
}	
.related_tour_text {
    background-color: #fff;
    padding: 14px 16px;
    line-height: 2.4;
}
.related_tour_text h5{
	font-size: 18px;
    color: #1853a0;
	text-align: left;
}	
.related_tour_text h6{
	color: #1853a0;
    text-align: left;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
}
.related_tour_text_right a{
    color: #fff;
    text-align: center;
    width: 100%;
    background-color: #1853a0;
    padding: 6px 20px;
    line-height: 1.8;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}
.related_tour_text_right a:hover{	
    transition: all .5s ease-in-out;
    color: #fff;
    background-color: #0c2d69;	
}
.top_ribon { 
	margin: -18px 0px 0px 22px;
    width: 110px;
    height: 35px;
    background: #ff2009;
    text-align: center;
	font-size: 14px;
    font-weight: 500;
    color: #fff;
    line-height: 35px;
    position: absolute;
    top: 37px;
    left: -22px;
} 
.top_ribon:before {
    content: "";
    border-right: 16px solid #d23511;
    border-bottom: 18px solid transparent;
    position: absolute;
    top: 35px;
    left: 0px;
}	
.modal-backdrop {
    /* bug fix - no overlay */    
    display: none;    
}	
.modal.show .modal-dialog {
	transform: translate(0,110px);
	max-width: 450px;
}
#modalPrice .modal-content{
    box-shadow: 1px 2px 8px 5px #888888b8;
}	
#modalPrice h4{
	color: #1853a0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
#Price_form input,select{
	width:100%;
    margin-bottom: 5px;
    outline: none;
	padding: 8px 8px 3px 5px;
    border: none;
    border-bottom: 1px solid #757575;
    border-radius: 0;
    resize: vertical;
    outline: 0;
    background: 0 0;
    color: #757575;
    font-size: 15px;
    background: #fff none repeat scroll 0 0;
    border-color: currentcolor currentcolor #eee;
    border-style: none none solid;
    border-width: 0 0 1px;
    box-shadow: none;
    border-radius: .25rem;
	letter-spacing: 1px;
}
#Price_form select{
	cursor: pointer;
}
 #Price_form input:hover,select:hover{
   border-color: currentcolor currentcolor #1853a0;
    border-style: none none solid;
    border-width: 0 0 1px;
    box-shadow: none;
    outline: 0 none;
 }
 #submit_price{
	 background-color: #1853a0!important;
    color: white!important;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2;
    padding: 2px 20px!important;
    border: none!important;
    font-size: 16px!important;
    margin-top: 25px;
    cursor: pointer;
	margin-bottom: 20px!important;
 }
 #submit_price:hover{
	transition: all .5s ease-in-out!important;
    color: #fff!important;
    background-color: #0c2d69!important;
}
#modalPrice .close{
	color:#f00!important;
	padding-bottom: 10px!important;
    padding-top: 20px!important;
}
#modalPrice .close:hover{
	color:#f00!important;
}
#modalPrice .modal-header{
    padding-bottom: 10px;
    padding-top: 10px;
}	
.to_give_padding {
	padding-left: 30px;
    padding-right: 30px;
}
@media (min-width:768px) and (max-width:991px) {
		.inner_page_top_header h1 {
		font-size: 30px;
	}
	.marquee_parts p {
		font-size: 19px;
	}
	.inner2_left {
		display: grid;
	}
	.inner2_right {
		top: 48px;
	}
	.tabcontent_left {
    		width: 100%;
	}
}
@media only screen and (max-width:991px) {
	.inner_page_right_header {
		top: 100%;
		width: 75%;
		right: 12%;
	}
	.inner_page_top_header {
		padding: 0 50px 0 50px;
	}
	.tour_highlight_main {
		width: 100%;
		margin-bottom: 30px;
	}
	.tour_highlight span{
		margin-right: 15px;
	}
	.related_tours_heading h1 {
		font-size: 32px;
	}
}
@media only screen and (max-width:767px) {			
	.inner_page_top_header h1 {
		font-size: 25px;
	}
	.marquee_parts p {
		font-size: 16px;
	}
	.related_tours {
		display: block;
	}
	.related_tour_text {
		margin-bottom: 18px;
	}
	.inner_page_right_header {
		top: 100%;
	}
	.inner2_left1 {
		margin-right: 0;
	}
	.inner2_left {
		margin-top: 0px;
padding-right: 0px;
    padding-bottom: 0;
		
	}
	.itinery_portion {
		height: 110px;
	}
	.tour_highlight {
		display: grid;
	}
	.inner2_right {
		left: 15px!important;
	}
	.inner2_right22{
		margin-top: 4%;
	}
	.itinery_left .tab-content {
         margin-top: 10%;
    }
}
@media only screen and (max-width:575px) {
	.inner2_right .tab {
		width: 100%;
		display: grid;
	}
	.inner2_right{
		width: 93%;
	}
	.itinery_left .tab-pane h4 {
		font-size: 19px;
	}
	.itinery_left .tab-pane p {
		font-size: 14px;
	}
	.itinery_left .tour-result-details {
		font-size: 13px;
	}
	.related_tours_heading h1 {
		font-size: 28px;
	}
	.inner2_right .tab button {
		padding: 8px 35px;
	}
	.tabcontent_left a {
		font-size: 15px;
	}
}
@media only screen and (max-width:509px) {
	.inner_page_top_header h1 {
		font-size: 20px;
	}
	.inner2_left {
		display: grid;
	}
	.nav-tabs .nav-link {
		font-size: 15px;
	}
	#enq_form h4 {
		font-size: 1.2rem;
	}
	#enq_form .col-75 input, select {
		font-size: 13px;
	}
	.inner_page_discount_four{
		font-size: 14px;
	}
	.inner_page_discount_three {
		font-size: 22px;
	}
	.inner_page_top_header {
		padding: 0 22px;
		padding-right: 22px;
	}
	.tour_highlight span p {
		font-size: 14px;
	}
}
@media only screen and (max-width:415px) {
	.inner_page_top_header h1 {
		font-size: 16px;
	}
	.itinery_left .tab-content {
         margin-top: 20%;
    }
}
@media only screen and (max-width:376px) {
		.nav-tabs .nav-link {
		font-size: 13px;
	}
	.inner2_right .tab button {
		font-size: 13px;
	}
	.tabcontent_left a {
		font-size: 12px;
	}
	.related_tours_heading h1 {
		font-size: 22px;
	}
	.inner_page_discount_four {
		font-size: 12px;
	}
}